doctrine:
  dbal:
    url: '%env(DATABASE_URL)%'
    driver: 'pdo_pgsql'
    server_version: '14'
    charset: utf8
    mapping_types:
      enum: string
    default_table_options:
      charset: utf8
      collate: utf8

    # IMPORTANT: You MUST configure your server version,
    # either here or in the DATABASE_URL env var (see .env file)
    #server_version: '13'
  orm:
    auto_generate_proxy_classes: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    mappings:
      App:
        is_bundle: false
        type: annotation
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\Entity'
        alias: App
