$color-white: #fff;

$color-grey-dark-extra: #262A2E;
$color-grey-dark: #43484D;
$color-grey-medium-extra: #53575A;
$color-grey-medium: #919599;
$color-grey-light: #F0F0F0;
$color-grey-light-extra: #FAFAFA;

$color-red-dark: #e06963;
$color-red-light: #FDE7E5;

$color-green-dark: #90da72;
$color-green-light: #EEFFE2;

$color-blue-logo: #268df8;
$color-blue-dark: #5eb2ff;
$color-blue-dark-night: #0953c6;
$color-blue-light: #DCE9F5;
$color-blue-light-extra: #ECF3FB;

$color-orange-dark: #ff9e76;
$color-orange-light: #FEF4E3;

$color-fond: $color-blue-light-extra;
$color-field-border: #CFD2D4;
$color-field-border-blue: #c2d6ed;
$color-field-border-blue-light: $color-blue-light-extra;


$color-austral: #000;
