$font-austral-picto: 'Austral-picto';
$fontTitre: Merriweather, serif;
$fontDefault: Poppins, sans-serif;

$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 800;